<a href="https://colab.research.google.com/github/Kimseongbeen/AI_/blob/master/0704.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("김성빈")

김성빈

In [ ]:
age=24
name="김성빈"
print(age, name)

24 김성빈

In [ ]:
a=24
b=35
c=a+b
d=a-b
e=a*b
f=a//b
g=a/b
h=a%b
print(c,d,e)
print(f,g,h)

59 -11 840
0 0.6857142857142857 24

In [ ]:
# 주석
import random
a=random.randint(0,10)
b=random.randint(0,10)
print(a,b)

8 3

In [ ]:
import random

In [ ]:
# a와 b에 임의의 숫자를 받는다. 숫자의 범위는 0에서 100 사이이다.
# total의 합을 구하고. avr에는 평균값을 구한다
# a,b,total,avr값을 출력한다.
import random
a = random.randint(0,100)

if 50 <= a <= 70:
   print("ok")
else:
    print("not ok")

    print(a)

not ok
22

In [ ]:
a = random.randint(0,100)
if 90 <= a <= 100:
  print("A")
  80 <= a <= 90:
  90 <= a <= 80:
  90 <= a <= 70:
  90 <= a <= 60
  else a <= 50:

In [ ]:
data1 = [12,15,34,53]
print(data1)

a= data1[0]
b= data1[len(data1)-1]

print(a,b)

for i in range(len(data1)):
  print(i,data1[i])

[12, 15, 34, 53]
12 53
0 12
1 15
2 34
3 53

In [ ]:
# 0~100 사이의 숫자 10개 생성하기
data1 = []

for i in range(10):
    a = random.randint(0,100)
    data1.append(a)


print(data1)

[27, 86, 85, 60, 54, 80, 82, 80, 59, 20]

In [ ]:
# count = 10~20 사이의 숫자를 임의로 뽑는다
# data1에 count 개수 만큼 임의의 숫자를 채운다.
# 임의의 데이터의 범위는 0~100 사이이다.
#count 와 data1을 출력한다.

count = random.randint(10,20)
data1=[]
for i in range(count):
  data1.append(random.randint(0,100))

print(count,data1)

18 [5, 53, 84, 27, 50, 32, 86, 64, 65, 68, 19, 72, 43, 58, 5, 25, 27, 71]

In [ ]:
data1 = [[92,31,12,22],[21,56,3,63],[12,55,66,32],[12,44,22,89]]
print(data1)

a = data1[0][1]
print(a)

[[92, 31, 12, 22], [21, 56, 3, 63], [12, 55, 66, 32], [12, 44, 22, 89]]
31

In [ ]:
data1 = []

for y in range(10):
  v = []
  for x in range(3):
    v.append(random.randint(0,100))

    data1.append(v)
print(data1)
totals = []
avgs = []
for y in range(len(data1)):
  total = 0
  for x in range(3):
    total += data1[y][x]
  totals.append(total)
  avgs.append(total/3)

for y in range(len(data1)):
  print(y,data1[y],totals[y],avgs[y])

[[45, 38, 52], [45, 38, 52], [45, 38, 52], [98, 17, 23], [98, 17, 23], [98, 17, 23], [4, 48, 13], [4, 48, 13], [4, 48, 13], [48, 88, 71], [48, 88, 71], [48, 88, 71], [87, 51, 83], [87, 51, 83], [87, 51, 83], [49, 37, 24], [49, 37, 24], [49, 37, 24], [10, 47, 5], [10, 47, 5], [10, 47, 5], [13, 29, 67], [13, 29, 67], [13, 29, 67], [96, 87, 51], [96, 87, 51], [96, 87, 51], [83, 29, 43], [83, 29, 43], [83, 29, 43]]
0 [45, 38, 52] 135 45.0
1 [45, 38, 52] 135 45.0
2 [45, 38, 52] 135 45.0
3 [98, 17, 23] 138 46.0
4 [98, 17, 23] 138 46.0
5 [98, 17, 23] 138 46.0
6 [4, 48, 13] 65 21.666666666666668
7 [4, 48, 13] 65 21.666666666666668
8 [4, 48, 13] 65 21.666666666666668
9 [48, 88, 71] 207 69.0
10 [48, 88, 71] 207 69.0
11 [48, 88, 71] 207 69.0
12 [87, 51, 83] 221 73.66666666666667
13 [87, 51, 83] 221 73.66666666666667
14 [87, 51, 83] 221 73.66666666666667
15 [49, 37, 24] 110 36.666666666666664
16 [49, 37, 24] 110 36.666666666666664
17 [49, 37, 24] 110 36.666666666666664
18 [10, 47, 5] 62 20.666666666666668
19 [10, 47, 5] 62 20.666666666666668
20 [10, 47, 5] 62 20.666666666666668
21 [13, 29, 67] 109 36.333333333333336
22 [13, 29, 67] 109 36.333333333333336
23 [13, 29, 67] 109 36.333333333333336
24 [96, 87, 51] 234 78.0
25 [96, 87, 51] 234 78.0
26 [96, 87, 51] 234 78.0
27 [83, 29, 43] 155 51.666666666666664
28 [83, 29, 43] 155 51.666666666666664
29 [83, 29, 43] 155 51.666666666666664